:host {
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    box-sizing: border-box;
  }

  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin-top: 10px;
    padding-bottom: 20px;
    height: 60px;
    display: flex;
    align-items: center;
    background-color:white;
    color: #2175d9;
    border-bottom: 2px groove;
    border-bottom-color: #4e93e7;
  }

  .navbar {
    margin: 0px 50px 0px 20px;
  }

  .title {
    font-size: 24px;
    width: -webkit-fill-available;
  }

  #logo {
      width: 60px;
      height: 60px;
      margin-right: 40px;
      margin-top: 10px;
  }

  .content {
    display: flex;
    margin: 70px 0px 5px 0px;
    padding: 0;
    max-width: 100%;
    flex-direction: column;
    align-items: center;
    height: 500px;
    max-height: max-content;
    border-bottom: 2px groove;
    border-bottom-color: #4e93e7;
  }

  .buttons {
      width: 70%;
      margin: 0;
      position: absolute;
      display: flow-root;
      text-align: center;
      padding-left: 1%;
  }

  .btn {
    font-size: 2px;
    line-height: 1;
    font-weight: lighter;
  }

  .container {
      padding: 0;
      max-width: 100%;;
  }

  .row>* {
    width: 100%;
    margin-top: var(--bs-gutter-y);
    padding-left: calc(var(--bs-gutter-x)/-1);
  }

  .col {
      display: contents;
  }

  #leftButton {
      padding: 0;
      width: 200px;
      height: 500px;
      margin-left: 0;
      position: relative;
  }

  #detectionCard {
    width: 12rem;
    height: 250px;
    background: linear-gradient(135deg, #2175d9, white);
    border-radius: 0;
    background-clip: border-box;
    border: 3px solid #4e93e7;
    align-items: center;
    justify-content: center;
    color: #1b5dad;
    font-weight: bold;
    font-size: 20px;
  }

  #trackingCard {
    width: 12rem;
    height: 250px;
    background: linear-gradient(135deg, #2175d9, white);
    border-radius: 0;
    background-clip: border-box;
    border: 3px solid #4e93e7;
    align-items: center;
    justify-content: center;
    color: #1b5dad;
    font-weight: bold;
    font-size: 20px;
  }

  #uploadImg {
    width: 500px;
    height: 240px;
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
    border: 3px solid #4e93e7;
    }

  #objectFocus {
    width: 500px;
    height: 200px;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
    border: 3px solid #4e93e7;
  }

  footer {
    margin-top: 8px;
    display: flex;
    align-items: center;
    line-height: 20px;
    color: #2175d9;
    position: relative;
    justify-content: space-around;
  }

  footer a {
    display: flex;
    align-items: center;
  }
