<div class="d-flex flex-row">
  <button type="button" class="btn text-nowrap btn-primary" (click)="fileInput.click()">
    <span>Upload Image or Video</span>
    <input #fileInput type="file" (change)="loadMedia($event)" style="display:none;" />
  </button>

  <button type="button" class="btn text-nowrap btn-primary" (click)="startDetection()">Start Detection</button>
  <button type="button" class="btn text-nowrap btn-success">Save Detection</button>
  <button type="button" class="btn text-nowrap btn-success">Save Annotation</button>
  <button type="button" class="btn text-nowrap btn-success">Update Annotation</button>
  <button type="button" class="btn text-nowrap btn-danger">Delete Annotation</button>
  <button type="button" class="btn text-nowrap btn-danger">Exit</button>
</div>
