<div class="row">
  <div class="col-4">
    <div class="card" id="uploadVideo">
      <p *ngIf="!videoSrc">"Video origine" à charger en cliquant sur "Upload video" et à analyser après avoir cliqué sur
        "Start Detection"</p>
      <video *ngIf="videoSrc" [src]="videoSrc || ''" alt="Your video" controls></video> <br />
    </div>
  </div>
  <div class="col-4">
    <div class="card" id="objectFocus">
      <p *ngIf="dataService.isLoading">Loading</p>
      <video *ngIf="!dataService.isLoading && resultSrc" [src]="resultSrc"></video> <br />
    </div>
  </div>
  <div class="col-4">
    <app-scores [results]="results" [showResults]="!!videoSrc"></app-scores>
  </div>
</div>
