<div class="row">
  <div class="col-4">
    <div class="card" id="uploadImg">
      <p *ngIf="!imageSrc">"Image origine" à charger en cliquant sur "Upload Image" et à analyser après avoir cliqué sur
        "Start Detection"</p>
      <img *ngIf="imageSrc" [src]="imageSrc" />
    </div>
  </div>
  <div class="col-4">
    <div class="card" id="objectFocus">
      <p *ngIf="dataService.isLoading">Loading</p>
      <img *ngIf="!dataService.isLoading && resultSrc" [src]="resultSrc" />
    </div>
  </div>
  <div class="col-4">
    <app-scores [results]="results" [showResults]="!!imageSrc"></app-scores>
  </div>
</div>
