<div class="row">
  <div class="col-9">
    <div class="card" id="uploadImg">
      <p *ngIf="!imageSrc">"Image origine" à charger en cliquant sur "Upload Image or video" et <br>
        à remplacer après avoir cliqué sur "Start Detection"</p>
      <img *ngIf="imageSrc" [src]="imageSrc" />
    </div>
    <div class="card" id="objectFocus">
      <p *ngIf="dataService.isLoading">Loading</p>
      <img *ngIf="!dataService.isLoading && resultSrc" [src]="resultSrc" />
    </div>
  </div>
  <div class="col-3">
    <app-scores [results]="results" [showResults]="!!imageSrc"></app-scores>
  </div>
</div>
