.card {
  width: 10rem;
  height: 14.5rem;
  background: linear-gradient(135deg, #2175d9, white);
  color: #1b5dad;
  font-size: 20px;
  text-align: center !important;

  &.active {
    font-weight: bold;
    background: #2175d9 !important;
    color: white !important;
  }
}
